# OS
.DS_Store
Thumbs.db

# Python
__pycache__/

# Logs & data
logs/
*.log

# Design exports
*.step
*.stp
*.iges
*.igs
*.fcstd1
*.fcstd

# LaTeX
*.aux
*.out
*.toc
*.lof
*.lot
*.synctex*

# Misc
*.zip
